{{>header}}
{{>navbar}}
<div class="card text-center m-5 p-5">
    <div class="card-header">
        EmpMan
    </div>
    <div class="card-body m-3 p-4">
        <h5 class="card-title">An Employee Management Platform</h5>
        <p class="card-text">Human resource management is the strategic and coherent approach to the effective and efficient management of people in a company or organization such that they help their business gain a competitive advantage. It is designed to maximize employee performance in service of an employer's strategic objectives.</p>
        <a href="/" class="btn btn-primary">Go to Home</a>
    </div>
</div>
{{>footer}}