{{>header}}
{{>navbar}}

<div class="container-fluid m-4 p-4">
    <form class="row g-3" action="/addEmployee" method="post">
        <div class="col-md-6">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
        <div class="col-md-6">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname">
        </div>
        <div class="col-md-4">
            <label for="department" class="form-label">Department</label>
            <select id="department" class="form-select" name="department">
                <option value="" selected>Choose...</option>
                <option>General Dentistry</option>
                <option>Pediatric Dentistry</option>
                <option>Restorative Dentistry</option>
                <option>Surgery</option>
                <option>Orthodontics</option>
            </select>
        </div>
        {{#if errors}}
        <div class="alert alert-danger">
            <ul>
                {{#each errors}}
                <li>{{msg}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        {{#if success}}
        <div class="alert alert-sucess">
            {{success}}
        </div>
        {{/if}}

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </div>
    </form>
</div>

{{>footer}}