{{> header}}

<body>
    {{>navbar}}
    <div class="row row-cols-1 row-cols-md-3 g-4 m-5">
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1621516799962-7dad52802428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">General Dentistry</h5>
                    <p class="card-text">General dentistry covers a range of treatment options and procedures fundamental to protecting and maintaining a good standard of oral health. Treatments are in place to keep your mouth, gums, and teeth healthy and free of pain.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1661582491430-fbec33409acc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pediatric Dentistry</h5>
                    <p class="card-text">​Pediatric dentists are dedicated to the oral health of children from infancy through the teen years. They have the experience and qualifications to care for a child's teeth, gums, and mouth throughout the various stages of childhood.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1609207825181-52d3214556dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Restorative Dentistry</h5>
                    <p class="card-text">Restorative dentistry focuses on repairing or replacing damaged or missing teeth. Common dental restorations include crowns, bridges and implants. The main goal of restorative dentistry is to improve oral health and chewing function.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1661627109539-69d7096ea354?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Surgery</h5>
                    <p class="card-text">The act of performing surgery may be called a surgical procedure or operation, or simply "surgery". In this context, the verb "operate" means to perform surgery. The adjective surgical means pertaining to surgery; e.g. surgical instruments, surgical facility or surgical nurse.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src = "https://images.unsplash.com/photo-1633951450008-8ad6dd373874?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orthodontics</h5>
                    <p class="card-text">Orthodontics is a dental specialty focused on aligning your bite and straightening your teeth. You might need to see an orthodontist if you have crooked, overlapped, twisted or gapped teeth. Common orthodontic treatments include traditional braces, clear aligners and removable retainers.</p>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</body>

</html>