<div class="container my-5">
    <footer class="text-center text-white" style="background-color: #3f51b5">
        <div class="container">
            <section class="">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/about" class="text-white">About us</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/department" class="text-white">Department</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/addEmployee" class="text-white">Add Employee</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/viewEmployees" class="text-white">View Employees</a>
                        </h6>
                    </div>
                </div>
            </section>
            <hr class="my-5" />
            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Employee management refers to the processes used to ensure employees perform their best. It consists of keeping track of employees' achievements and progress, fostering healthy professional relationships and giving them the tools they need to succeed.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="/">empman.com</a>
        </div>
    </footer>
</div>